<!doctype html>
<html>
<head>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
<title>DocForge</title>
{% block head %}
{% endblock %}
<body>
<div>
Menu:<br/>
<ul>
<li><a href='/formatki/list'>Lista formularzy</a></li>
<li><a href='/formatki/add'>Dodaj formularz</a></li>
<li><a href='/wpis/list'>Przeglądaj wnioski</a></li>
</ul>
</div>
{% block content %}
To jest template glowny
{% endblock %}

</body>
</html>
