{% extends 'docforge:templates/base.jinja2' %}
{% block head %}
<link rel='stylesheet' type='text/css' href='/static/edytor.css'>
<script src='/static/edytor.js'></script>
{% endblock %}
{% block content %}
<div id='menu' style='float:left'>
<button id='add'>Dodaj</button><br/>
<button id='del'>Usuń</button><br/>
<button id='export'>Export</button><br/>
<div id='export_field'>
Tu będzie eksport
</div>
<div id='edit_field'>
Tu będzie menu<br/>
</div>
Aktualny: <span id='akt'></span>
</div>
	<div id='main' class='ui-widget-content editable' style='border: 1px black solid; clear: both;'>
	<span></span>
	</div>
</div>



{% endblock %}

# vim: syntax=html
