{% extends 'docforge:templates/base.jinja2' %}
{% block content %}
Wypełnianie formularza <strong>{{nazwa}}</strong>
<form method="POST" onsubmit='return confirm("Czy wszystko się zgadza?");'>
{% for i in items %}
{{i.nazwa}}<input type='{{i.widget}}' name='{{i.nazwa}}'><br/>
{% endfor %}

<input type='submit' value='Złóż wniosek'>
</form>
{% endblock %}
