{% extends 'docforge:templates/base.jinja2' %}
{% block head %}
<script src='/static/add_fields.js'>
</script>
{% endblock %}
{% block content %}
<form action='/formatki/add' method='POST' onSubmit="return confirm('Na pewno chcesz dodać ten formularz');">
Nazwa: <input type='text' name='_nazwa'><br/>
<table id='tabela'>
</table>
<input type='button' value='Dodaj pole' onclick='addRow()'><br/>
<input type='submit' value='Zapisz formularz'>
</form>
{% endblock %}
